@import url("https://rsms.me/inter/font-files/Inter-Regular.woff2");

body {
  background-color: #f7efcb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: inherit;
  color: inherit;
}
.top {
  background-color: #f7efcb;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #f7efcb;
}
.heading {
  position: absolute;
  width: 746px;
  height: 111px;
  left: 600px;
  top: 5px;
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 101px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
.logo {
  width: 9vw;
  height: 19vh;
  display: flex;
  justify-content: flex-start;
}

.Pages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 150px;
  position: absolute;
  width: 826px;
  height: 56px;
  left: 570px;
  top: 150px;
  color: black;
}

.Pages a:hover  /*Effects */ {
  color: goldenrod;
  transition: 0.2s;
}
.Sign-Up {
  width: 200px;
}
.top {
  background-color: #85ca7a;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: white;
}
.logo {
  width: 9vw;
  height: 19vh;
  display: flex;
  justify-content: flex-start;
}
.heading {
  position: absolute;
  width: 320px;
  height: 131px;
  left: 800px;
  top: 2px;
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 151px;
  text-align: center;
  color: black;
}
.First-card {
  position: absolute;
  width: 250px;
  height: 353px;
  left: 110px;
  top: 350px;
  background-color: white;
  border-radius: 22px;
  cursor: pointer;
}
/* Effects*/
.front1,
.back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 22px;
}
.front1 {
  transform: rotateY(0deg);
  transition: transform 0.5s;
}
.back1 {
  transform: rotateY(-180deg);
  transition: transform 0.2s;
}
.First-card:hover .front1 {
  transform: rotateY(180deg);
}
.First-card:hover .back1 {
  transform: rotateY(0deg);
}
.Viktor {
  position: absolute;
  width: 200px;
  height: 247px;
  left: 24px;
  top: 53px;
  border-radius: 22px;
}
.Name {
  position: absolute;
  width: 300px;
  height: 175px;
  left: 70px;
  top: 15px;
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 600;
  color: black;
  font-size: 20px;
}
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s;
  color: black;
}
.First-card:hover .text-container {
  opacity: 1;
}
.First-card:hover .Viktor {
  opacity: 0;
}
.Second-card {
  position: absolute;
  width: 250px;
  height: 353px;
  left: 560px;
  top: 350px;
  background-color: white;
  border-radius: 22px;
  cursor: pointer;
}
.front2,
.back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 22px;
}
.front2 {
  transform: rotateY(0deg);
  transition: transform 0.5s;
}
.back2 {
  transform: rotateY(-180deg);
  transition: transform 0.2s;
}
.Second-card:hover .front2 {
  transform: rotateY(180deg);
}
.Second-card:hover .back2 {
  transform: rotateY(0deg);
}
.Mihail {
  position: absolute;
  width: 200px;
  height: 247px;
  left: 24px;
  top: 53px;
  border-radius: 22px;
}
.Name2 {
  position: absolute;
  width: 300px;
  height: 175px;
  left: 70px;
  top: 15px;
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 600;
  color: black;
  font-size: 20px;
}
.text-container2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s;
  color: black;
}
.Second-card:hover .text-container2 {
  opacity: 1;
}
.Second-card:hover .Mihail {
  opacity: 0;
}
.Third-card {
  position: absolute;
  width: 250px;
  height: 353px;
  left: 1010px;
  top: 350px;
  background-color: white;
  border-radius: 22px;
  cursor: pointer;
}
.front3,
.back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 22px;
}
.front3 {
  transform: rotateY(0deg);
  transition: transform 0.5s;
}
.back3 {
  transform: rotateY(-180deg);
  transition: transform 0.2s;
}
.Third-card:hover .front3 {
  transform: rotateY(180deg);
}
.Third-card:hover .back3 {
  transform: rotateY(0deg);
}
.Velizar {
  position: absolute;
  width: 200px;
  height: 247px;
  left: 24px;
  top: 53px;
  border-radius: 22px;
}
.Name3 {
  position: absolute;
  width: 300px;
  height: 175px;
  left: 70px;
  top: 15px;
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 600;
  color: black;
  font-size: 20px;
}
.text-container3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s;
  color: black;
}
.Third-card:hover .text-container3 {
  opacity: 1;
}
.Third-card:hover .Velizar {
  opacity: 0;
}
.Fourth-card {
  position: absolute;
  width: 250px;
  height: 353px;
  left: 1460px;
  top: 350px;
  background-color: b;
  border-radius: 22px;
}
.Georgi {
  position: absolute;
  width: 200px;
  height: 247px;
  left: 24px;
  top: 53px;
  border-radius: 22px;
}
.Fourth-card {
  position: absolute;
  width: 250px;
  height: 353px;
  left: 1460px;
  top: 350px;
  background-color: white;
  border-radius: 22px;
  cursor: pointer;
}
.Name4 {
  position: absolute;
  width: 300px;
  height: 175px;
  left: 70px;
  top: 15px;
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 600;
  color: black;
  font-size: 20px;
}
.front4,
.back4 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 22px;
}
.front4 {
  transform: rotateY(0deg);
  transition: transform 0.5s;
}
.back4 {
  transform: rotateY(-180deg);
  transition: transform 0.2s;
}
.Fourth-card:hover .front4 {
  transform: rotateY(180deg);
}
.Fourth-card:hover .back4 {
  transform: rotateY(0deg);
}
.Georgi {
  position: absolute;
  width: 200px;
  height: 247px;
  left: 24px;
  top: 53px;
  border-radius: 22px;
}
.text-container4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s;
  color: black;
}
.Fourth-card:hover .text-container4 {
  opacity: 1;
}
.Fourth-card:hover .Georgi {
  opacity: 0;
}
.bottom {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 800px;
  background-color: #85ca7a;
}
.question {
  position: absolute;
  width: 400px;
  height: 150px;
  left: 400px;
  top: 40px;
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 20px;
  text-transform: uppercase;
  color: black;
}
