/* Importing font */
@import url('https://rsms.me/inter/font-files/Inter-Regular.woff2');

/* Body styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #F7EFCB;
  padding: 0;
  overflow-x: hidden;
}

/* Logo styles */
#logosm {
  height: 6vw;
}

/* Navigation link styles */
.nav-link {
  font-size: 4vh;
  font-weight: bold;
}

/* Navbar navigation styles */
.navbar-nav {
  margin-left: 60vw;
}

/* Navbar styles */
.navbar {
  background-color: #85CA7A;
  font-family: Inter;
  font-weight: 700;
}

/* Product card styles */
.product-card {
  background-color: #FFFF;
  height: 70vh;
  width: 70vw;
  border-radius: 2rem;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/* Product image styles */
.product {
  margin-top: -55vh;
  margin-left: 5vw;
  width: 15vw;
  height: 50vh;
}

/* Product name styles */
.product-name {
  margin-left: 35vw;
  margin-top: 18vh;
  width: 25vw;
  height: 4vh;
}

/* Textbox styles */
.textbox {
  width: 24vw;
  height: 24vh;
  margin-top: 15vh;
  margin-left: 35vw;
}

/* Site footer styles */
.site-footer {
  background-color: #85CA7A;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0066FF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1px;
  bottom: 10vh;
}

/* Our Contacts link styles */
.OC {
  color: #000;
  text-decoration: none;
}

/* Dropdown styles */
.dropdown {
  background-color: #85CA7A;
}

/* Dropdown button styles */
.dropdown-btn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #85CA7A;
}

/* Dropdown content styles */
.dropdown-content {
  display: none;
  background-color: #85CA7A;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10vh;
  border-radius: 1rem;
}

/* Dropdown content link styles */
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: #333;
  background-color: #85CA7A;
}

/* Products section styles */
#products {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* Individual product styles */
.product {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* Cart styles */
#cart {
  margin: 20px;
}

/* Cart items list styles */
#cart-items {
  list-style-type: none;
  padding: 0;
}

/* Total amount styles */
#total {
  font-weight: bold;
}

/* Cart icon styles */
#cart-icon {
  margin-top: 0.7vh;
  width: 75px;
  height: 5vh;
}

/* Clear button styles */
.clear-btn {
  margin-bottom: 5px;
  border-radius: 2rem;
  background-color: goldenrod;
}
