/* Importing the Inter font for the document */
@import url('https://rsms.me/inter/font-files/Inter-Regular.woff2');

/* Styling for the entire body */
body {
  min-height: 100vh; /* Minimum height occupying the full viewport */
  display: flex; /* Using flexbox for layout */
  flex-direction: column; /* Stack child elements in a column */
  margin: 0; /* Resetting default margin */
  background-color: #F7EFCB; /* Background color */
  padding: 0; /* Resetting default padding */
  overflow-x: hidden; /* Hiding horizontal overflow */
}

/* Styling for the navbar brand image */
#logosm {
  height: 6vw; /* Setting the height relative to the viewport width */
}

/* Styling for navigation links */
.nav-link {
  font-size: 4vh; /* Font size based on viewport height */
  font-weight: bold; /* Making the font bold */
}

/* Styling for the navbar list */
.navbar-nav {
  margin-left: 60vw; /* Setting left margin based on viewport width */
}

/* Styling for the navbar */
.navbar {
  background-color: #85CA7A; /* Setting the navbar background color */
  font-family: Inter; /* Setting the font-family for the navbar */
  font-weight: 700; /* Setting the font weight */
}

/* Styling for the product card */
.product-card {
  /* Background color, size, border radius, and margins */
  background-color: #FFFF;
  height: 70vh;
  width: 70vw;
  border-radius: 2rem;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/* Styling for the product image */
.product {
  margin-top: -55vh; /* Adjusting margin for positioning */
  margin-left: 5vw; /* Adjusting margin for positioning */
  width: 15vw; /* Setting the width relative to viewport width */
  height: 50vh; /* Setting the height relative to viewport height */
}

/* Styling for the product name */
.product-name {
  margin-left: 35vw; /* Adjusting margin for positioning */
  margin-top: 18vh; /* Adjusting margin for positioning */
  width: 25vw; /* Setting the width relative to viewport width */
  height: 4vh; /* Setting the height relative to viewport height */
}

/* Styling for the product description */
.textbox {
  /* Width, height, and margins for positioning */
  width: 24vw;
  height: 24vh;
  margin-top: 15vh;
  margin-left: 35vw;
}

/* Styling for the site footer */
.site-footer {
  /* Background color, height, and text styling */
  background-color: #85CA7A;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0066FF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1px;
  bottom: 10vh;
}

/* Styling for the 'Our Contacts' link in the footer */
.OC {
  color: #000;
  text-decoration: none;
}

/* Styling for the dropdown container */
.dropdown {
  background-color: #85CA7A;
}

/* Styling for the dropdown button */
.dropdown-btn {
  /* Padding, font size, removing border, setting cursor, and background color */
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #85CA7A;
}

/* Styling for the dropdown content */
.dropdown-content {
  /* Display, background color, width, box shadow, z-index, margin, and border radius */
  display: none;
  background-color: #85CA7A;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10vh;
  border-radius: 1rem;
}

/* Styling for the links within the dropdown content */
.dropdown-content a {
  padding: 12px 16px; /* Padding for the links */
  display: block; /* Displaying the links as block elements */
  text-decoration: none; /* Removing default text decoration */
  color: #333; /* Setting the text color */
  background-color: #85CA7A; /* Setting the background color */
}

/* Styling for the product section */
#products {
  /* Display style and margin */
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* Styling for individual products */
.product {
  border: 1px solid #ddd; /* Adding a border */
  padding: 10px; /* Adding padding */
  text-align: center; /* Centering the text */
}

/* Styling for the cart */
#cart {
  margin: 20px; /* Setting margin */
}

/* Styling for the cart items list */
#cart-items {
  list-style-type: none; /* Removing default list styles */
  padding: 0; /* Resetting padding */
}

/* Styling for the total price in the cart */
#total {
  font-weight: bold; /* Making the total price bold */
}

/* Styling for the cart icon */
#cart-icon {
  margin-top: 0.7vh; /* Adjusting margin for positioning */
  width: 75px; /* Setting the width */
  height: 5vh; /* Setting the height */
}

/* Styling for the clear button in the cart */
.clear-btn {
  margin-bottom: 5px; /* Setting margin at the bottom */
  border-radius: 2rem; /* Adding border radius */
  background-color: goldenrod; /* Setting background color */
}
