/* Importing the 'Inter' font */
@import url('https://rsms.me/inter/font-files/Inter-Regular.woff2');

/* Basic settings for the body */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #F7EFCB;
  padding: 0;
  overflow-x: hidden;
}

/* Styles for the logo */
#logosm {
  height: 6vw;
}

/* Styles for navigation links */
.nav-link {
  font-size: 4vh;
  font-weight: bold;
}

/* Styles for the navigation menu */
.navbar-nav {
  margin-left: 60vw;
}

.navbar {
  background-color: #85CA7A;
  font-family: Inter;
  font-weight: 700;
}

/* Styles for product cards */
.product-card {
  background-color: #FFFF;
  height: 70vh;
  width: 70vw;
  border-radius: 2rem;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: -20vw;
  padding: 50px;
}

/* Styles for product images */
.product {
  margin-top: -55vh;
  margin-left: 5vw;
  width: 15vw;
  height: 50vh;
}

/* Styles for product names */
.product-name {
  margin-left: 35vw;
  margin-top: 15vh;
  width: 25vw;
  height: 4vh;
}

/* Styles for the text box */
.textbox {
  width: 460px;
  height: 24vh;
  margin-top: 15vh;
  margin-left: 35vw;
}

/* Styles for the site footer */
.site-footer {
  background-color: #85CA7A;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0066FF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1px;
  bottom: 10vh;
}

/* Styles for footer links */
.OC {
  color: #000;
  text-decoration: none;
}

/* Styles for the dropdown */
.dropdown {
  background-color: #85CA7A;
}

.dropdown-btn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #85CA7A;
}

.dropdown-content {
  display: none;
  background-color: #85CA7A;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10vh;
  border-radius: 1rem;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: #333;
  background-color: #85CA7A;
}

/* Styles for products */
#products {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* Styles for the cart */
#cart {
  margin: 20px;
}

#cart-items {
  list-style-type: none;
  padding: 0;
}

#total {
  font-weight: bold;
}

/* Styles for the cart icon */
#cart-icon {
  margin-top: 0.7vh;
  width: 75px;
  height: 5vh;
}

/* Styles for the clear cart button */
.clear-btn {
  margin-bottom: 5px;
  border-radius: 2rem;
  background-color: goldenrod;
}
