p  {
    display: flex;
    width: 546px;
    padding-left: 20%
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 113.636% */
    letter-spacing: 0.11px;
 }
 h1 {
   display: flex;
   width: 546px;
   margin-left: 20%;
 }
 .pic1   {
    height: 481px;
    width: 481px;
    display: flex;
    
}
     .navbar {
     width: 100%;
     background-color: #85CA7A;
     overflow: auto;
     
   }
 
  
   .navbar a {
     float: left;
     
     padding: 12px;
     color: black;
     text-decoration: none;
     font-size: 34px;
 
   }
 
 
   .navbar a:hover {
     background-color: lightgreen;
   }
 
 
   @media screen and (max-width: 500px) {
     .navbar a {
       float: none;
       display: block;
     }
   }
   .header {
     padding: 10px;
     
     width: 805px;
     color: #000;
 
 
 
     font-family: Inter;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: 16px;
     letter-spacing: 0.13px;
    }
    .site-footer {
         background-color: #85CA7A;
         margin-top: auto;
         display: flex;
         justify-content: center;
         align-items: center;
         color: #0066FF;
         font-family: Inter;
         font-size: 20px;
         font-style: normal;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0.1px;
    }
    html, body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     margin: 0;
     background-color: #F7EFCB;
     padding: 0;
    }
    .image{
     width: 481px;
     height: 481px;
 
    }
    .image2 {
         width: 481px;
         height: 481px;
 
    }
    